.form-group{
	float: left;
	width: 100%;
}

.panel-default .panel-heading{
	color: #fff;
	background-color: #3498db;
}

.sidebar .nav li a{
	padding: 5px 0;
	color: #333;
	transition: all 0.3s ease;
}

.sidebar .nav li a:hover, .sidebar .nav li a:focus{
	background-color: transparent;
	color: #3498db;
}

input[type="radio"], input[type="checkbox"]{
	box-shadow: none;
	border: none;
	margin-bottom: 5px;
}

input[type="radio"]:focus, input[type="checkbox"]:focus{
	box-shadow: none;
	border: none;
}

.choice{
	padding-left: 15px;
}

.choice input[type="radio"]{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
}

.question{
	font-size: 14px;
	margin-bottom: 10px;
}

.pilihanganda{
	padding-left: 60px;
}

.result{
	line-height: 1.8;
	width: 60%;
	margin: 30px auto;
}

.notice{
	padding-left: 15px;
	font-size: 16px;
}

hr{
	float: left;
	width: 100%;
	border-top: 1px dashed rgba(51, 51, 51, 0.4);
}